<style>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  p {
  	font-size: 16px;
  }

  .navbar {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  #overall {
    height: 100%;
    width: 100%;
    margin: 2px;
  }

  #questionsArea {
    height: auto;
    width: 30%;
    float: left;
    border: 1px solid green;
    margin-right: 5px;
  }

  #chartArea {
    height: 100%;
    width: 69%;
    float: left;
    border: 1px solid red;
    text-align: center;
  }

  #category {
    border: 1px solid purple;
    margin: 3px;
    width: auto;
    height: auto;
    position: relative;
  }

  #beforePerception {
    border: 1px solid darkblue;
    margin: 3px;
    height: auto;
    width: auto;
  }

  #afterPerception {
    border: 1px solid orange;
    margin: 3px;
    height: auto;
    width: auto;
  }

  #questionsBtn {
    position: relative;
    margin: 2px;
    display: inline-block;
    text-align: center;
    right: 0;
  }
</style>